# Visual Studio
.vs/
*.user
*.suo
*.VC.db
*.VC.opendb
*.ipch

# Build artifacts
x64/
x86/
[Bb]uild/
[Oo]bj/
[Bb]in/
Debug*/
Release*/
*.obj
*.pdb
*.idb
*.tlog
*.log
*.pch
*.ilk
*.exp
*.iobj
*.ipdb
*.cache
*.tmp

# Executables & libs (falls erzeugt)
*.exe
*.dll
*.lib

# OpenCV-Testausgaben
frame.png

# vcpkg heavy folders
vcpkg/downloads/
vcpkg/buildtrees/
vcpkg/packages/
vcpkg/installed/

# Misc
*.opendb